  <footer class="footer">
    <p><a href="http://ued.chinanetcenter.com/" target="_blank">网宿UED官网</a>|<a href="/back/recordUpdate" target="_blank">更新日志</a>|<a href="/back/logoManage" target="_blank">后台管理</a></p>
    <p><span>联系我们</span><span>QQ：3004130400</span><span>邮箱：cdn_ard_ued@wangsu.com</span></p>
    <p>Copyright 2016-2017 网宿UED All right reserved.</p>
  </footer>
