<header class="header">
<div class="header-wrap">
<a class="logo" href="/"><img src="//img.chinanetcenter.com/2u-front/img/logo.jpg" /></a>
<ul class="top-nav">
<li><a href="/productLogo" {{#if atLogo }}class='active'{{/if}}>产品LOGO</a></li>
<li><a {{#if atMaterial}}class='active'{{/if}} href="/materialCategory">架构图素材</a></li>
<li><a href="http://iconfont.wangsu.com">图标库</a></li>
</ul>
</div>
</header>
