<form action="/login" method="post">
  <input type="email" name="email" placeholder="please input your email">
  <input type="password" name="password" placeholder="password">
  <input type="submit">
</form>