<form action="/register" method="post">
  <input type="text" name="name" placeholder="please input nick name">
  <input type="text" name="email" placeholder="please input email">
  <input type="password" name="password" placeholder="password">
  <input type="submit">
</form>